body {
    background-color: peru;
}
.nav {
    background-color: gainsboro;
}

.bod {
    background-color: burlywood;
}
img {
    width: 150px;
    height: 500px;
    object-fit: cover;
}
.img-div {
    height: 120px;   
}
.show {
    width: 150px;
    height: 200px;
    object-fit: cover;
}


